{% extends 'main.html'  %}

{% block content %}


<div class="row mt-5">
    <div class="col-md-12 text-left">
        <button type="button" href="" class="btn btn-success">Update customer</button>
<a href="{% url 'createOrder' customer.id %}">Place order</a>
        <h2>Contact</h2>
        <p>Email:{{customer.email}}</p>
        <p>Phone:{{customer.phone}}</p>
    </div>
</div>
<br>
<div class="container">
  <form method="get">
    {{myFilter.form}}
    <button type="submit" class="btn btn-primary">Search</button>

  </form>
</div>

<div class="text-center">
<h1>Product</h1>
<hr>
</div>
<table class="table">
   
      <tr>
        <th>Product</th>
        <th>Note</th>
        <th>Category</th>
        <th>Date ordered</th>
        <th>Status</th>
        <th>Update</th>
        <th>Remove</th>
      </tr>

      {% for order in orders %}
      <tr>
        <td>{{order.product}}</td>
        <td>{{order.note}}</td>
        <td>{{order.product.category}}</td>
        <td>{{order.date_created}}</td>
        <td>{{order.status}}</td>
        <td><a href="{% url 'updateOrder' order.id %}">Update</a></td>
        <td><a href="{% url 'delete' order.id %}">Delete</a></td>
        
      </tr>


      {% endfor %}
    
    <tbody>
      
     
     
  </table>


  <h5>Total order:{{orders_count}}</h5>



{% endblock %}